section {
  width: 7.5in;
  margin: 0.25in auto;
  padding: 0.1in 0.25in;
}

hr {
  border: 0;
  height: 1px;
  background-color: #DFDFDF;
}

hr.spacer {
  border: 0;
  height: 1px;
  visibility: hidden;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;  
  color: #222;
}

h3 {
  display: inline;
  font-size: 1em;
  font-weight: 700;
}

.dates {
  float: right;
  color: #333;
  font-size: 0.9em;
}

#title {
  font-style: italic;
  font-size: 1em;
}

.description {
  width: 6in;
  margin: 0.5em 0;

  font-size: 1em;
}

.description ul {
  padding: 0 1em;
  margin: 0;
  list-style-position: outside;
}

#major {
  font-size: 1em;
  font-style: italic;
}

table {
  margin: 0 auto;
  display: inline-block;
}

div.table-left {
  float: left;
  padding-right: 6em;
  margin: 0 auto;
  padding: 0 auto;
}

div.table-right {
  margin: 0 auto;
}

.circle {
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

#yes.circle {
  background: #3F3F3F;
}

#no.circle {
  background: #CACACA;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  section {
    width: 90%;
    margin: 10px auto 0 auto;
    padding: 0.8em 0;
    border: none;
  }

  #pdf-download {
    display: none;
  }

  .description {
    width: 90%;
  }

  .description ul {
    padding: 0 1em;
    margin: 0;
    list-style-position: outside;
  }

  .dates {
    font-size: 1em;
  }

  table {
    margin: 0 auto;
    font-size: 1em;
    width: auto;
  }

  div.table-left {
    width: auto
    float: none;
  }

  div.table-right {
    width: auto;
  }
}
